modules = ["web", "python-3.12"]
run = "1234"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Auto Commit Watcher"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "1234"]
