modules = ["nodejs-20", "python-3.12", "web"]
run = "1234"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "DailyFortune Dev"

[[workflows.workflow]]
name = "DailyFortune Dev"
author = 44423350
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd dailyfortune && npm run dev"

[[workflows.workflow]]
name = "All Apps"
author = 44423350
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 80"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd dailyfortune && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "1234"]
